.row {
    margin-top: 10px;
    margin-left: 20px;
    color: #fff;
}
.posters{
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
}
.posters::-webkit-scrollbar {
    display: none;
}
.posterImg {
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
    transition: transform 450ms;
}
.posterImg:hover{
    transform: scale(1.09);
    opacity: 1;
}
.smallPoster {
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
    transition: transform 450ms;
}
.smallPoster:hover{
    transform: scale(1.08);
    opacity: 1;
}